.owner-details
{
    margin: 5px;
    margin-top: 3vh;
    
    padding: 5px;
    
}
.owner-image
{
    margin-right: 1vw;   
    
}
.boss-name
{
    margin-bottom: -6px;
}
.message-preview
{
    font-size: small;
}
.messages-list
{
    background-color: aliceblue;
    max-height: 70vh;
    overflow-y: scroll;
    
}

.messages-list::-webkit-scrollbar {
    border: 1px solid aliceblue;
    padding: 2px 0;
    background-color: aliceblue;
  }